.QLY-list-box {
  i {
    font-style: normal;
    &.QLY-i {
      color: $color;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .QLY-ul-box {
    margin: 10px;
    padding-top: 10px;

    &:first-child {
      margin-bottom: 6px;
    }
  }
  .QLY-ul-box, .QLY-item {
    overflow: hidden;
  }
  .QLY-item {
    margin: 2px 0;
  }
}
.m-itemlist .grid .item {
  height: 460px !important;
}