$color: #ff4600;

@mixin item-li{
  float: left;
  margin-right: 15px;
}


.QLY-detail-box {
  width: 1140px;
  margin: 10px auto;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  .QLY-logo {
    display: inline-block;
  }
  .QLY-list-box {
    padding: 8px;

    overflow: hidden;
    .QLY-item {
      @include item-li();
      ul {
        float: left;
        overflow: hidden;
      }
      li {
        @include item-li();
      }
    }
  }
  i {
    font-style: normal;
    &.QLY-i {
      color: $color;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@import "../common/table";
@import "search";
