<div class="QLY-history-wrap">
  <div class="QLY-qutu-price-top">
    历史最低：<span>124</span>
  </div>
  <div class="QLY-qutu-sub-con">

    <div class="QLY-qutu-sub-price">

    </div>
    <div class="QLY-qutu-sub-data">

    </div>
    <canvas class="QLY-canvas-sub-base" style="width: 440px; height: 250px;" width="880" height="500"></canvas>
    <canvas class="QLY-canvas-sub-layout" style="width: 440px; height: 250px;" width="880" height="500"></canvas>
    <div class="QLY-qutu-sub-msg">
      <div class="QLY-qutu-sub-msg-wrap">

      </div>
    </div>
  </div>
</div>

<div class="QLY-table-footer">
  <span class="QLY-copy-right">
    数据更新于2015-09-15 Power by 千里眼
  </span>
  <a class="QLY-more" href="#" target="_blank">
    查看更多
  </a>
</div>