<div class="QLY-searchBar">
  <input class="QLY-input" placeholder="输入淘词..." type="text" />
  <button class="QLY-search">搜索</button>
</div>
<table class="QLY-table QLY-table-bordered">
  <colgroup>
    <col class="QLY-table-word">
    <col class="QLY-table-value">
  </colgroup>
  <thead>
  <tr>
    <th class="QLY-table-word">搜索词</th>
    <th class="QLY-table-value">排名</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td class="QLY-table-word">欧美无袖</td>
    <td class="QLY-table-value">第10页 16位</td>
  </tr>

  <tr>
    <td class="QLY-table-word">欧美无袖1</td>
    <td class="QLY-table-value">第11页 16位</td>
  </tr>

  </tbody>
</table>

<div class="QLY-table-footer">
  <span class="QLY-copy-right">
    数据更新于2015-09-15 Power by 千里眼
  </span>
  <a class="QLY-more" href="#" target="_blank">
    查看更多
  </a>
</div>