<div class="QLY-detail-box">
  <ul class="QLY-list-box">
    <li class="QLY-item">
      <span class="QLY-logo"></span>
    </li>
    <li class="QLY-item">
      距离宝贝下架还有: 2天3时13分
    </li>
    <li class="QLY-item">
      收录时间: 2015-09-11
    </li>
    <li class="QLY-item">
      <ul class="QLY-word-list">
        <li>搜索词: </li>
        <li>淘宝搜索(<i class="QLY-i QLY-taobaosearch">234</i>)</li>
        <li>直通车(<i class="QLY-i QLY-ztc">12</i>)</li>
        <li>无线搜索(<i class="QLY-i QLY-msearch">123</i>)</li>
        <li>无线直通车(<i class="QLY-i QLY-mztc">0</i>)</li>
        <li class="QLY-price">价格调整</li>
        <li class="QLY-taoword">淘词</li>
      </ul>
    </li>
  </ul>

</div>