<table class="QLY-table QLY-table-bordered">
  <colgroup>
    <col class="QLY-table-word">
    <col class="QLY-table-value">
  </colgroup>
  <thead>
  <tr>
    <th class="QLY-table-word">搜索词</th>
    <th class="QLY-table-value">排名</th>
  </tr>
  </thead>
  <tbody>

  {{#each list}}
    <tr>
      <td class="QLY-table-word">{{kw}}</td>
      <td class="QLY-table-value">第{{page}}页 {{num}}位</td>
    </tr>

  {{/each}}

  </tbody>
</table>

<div class="QLY-table-footer">
  <span class="QLY-copy-right">
    数据更新于{{time}} Power by 千里眼
  </span>
  <a class="QLY-more" href="#" target="_blank">
    查看更多
  </a>
</div>